.btn {
  width: 50px;
  height: 40px;
  margin: 10px 3px;
  background-color: #32CD32;
  color: white;
  border-radius: 5px;
  border: 3px solid #32CD32;
  font-size: 1.2rem;
  font-family: 'Montserrat Alternates', sans-serif;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #32CD32;
}

.source {
  width: 150px;
  height: 40px;
  margin: 10px 3px;
  background-color: #32CD32;
  color: #32CD32;
  border-radius: 5px;
  border: 3px solid #32CD32;
  font-size: 1.2rem;
  font-family: 'Montserrat Alternates', sans-serif;
}
.source:hover {
  cursor: pointer;
  background-color: white;
  color: #32CD32;
}

